{{#books}}
<article class="book" style="background: url('{{book_image}}') no-repeat; background-size: cover; background-color: black;">
  <h2>{{title}}</h2>
  <p>
    <strong><h3>by {{author}}</h3></strong>
  </p>
  <!-- <img src=/> -->
</article>
{{/books}}
