<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
