*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.book {
  display: inline-block;
  width: 50%;
  color: white;
  height: 200px;
  float:left;
  padding: 20px;
}

h2 {
  background-color: rgba(0,0, 0, 0.6);
  padding: 10px;
}
